

<mat-card style="color:aliceblue; font-size: larger; background-color: #00AA97;">Insurance Tickler</mat-card>
<mat-card style="auto:">
    <form>
       
        
        <mat-grid-list cols="3" rowHeight="75px" gutterSize="1px">
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label class="mat-form-field-should-float">Prime Number</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                     <input matInput formControlName="PRIMEFORM" name="primeNumber" placeholder="Prime Number" class="mat-form-field"
                     (focusout)='alphanumeric($event.target.value)' style="text-transform: uppercase" 
                        [(ngModel)]="insuranceTicklerDetails.primeNumber" minlength="6"  [attr.disabled]="isDisabled" maxlength="6" #primenumber  (focusout)='onFocusOut()'>
                     </div>
                     <mat-error *ngIf="primeFormControl.hasError('minlength')">
                        Prime Number should be atleast of length 6
                    </mat-error>
                   <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Prime Number should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.errors.maxLength">
                        Prime Number should be atleast of length 6
                    </mat-error> -->
                    <mat-error *ngIf="primeFormControl.hasError('required')">
                        Prime Number <strong>required</strong>
                    </mat-error> 
              
                </mat-form-field>


            </mat-grid-tile>
       
            <mat-grid-tile>

                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>Name of Business Segment</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                        <!-- <mat-select   name='businessSegment' formControlName='BS'
                        [(ngModel)]="insuranceTicklerDetails.businessSegment">
                        <mat-option *ngFor="let businessSegment of business" [value]="businessSegment.value" >
                          {{businessSegment.viewValue}}
                        </mat-option>
                      </mat-select> -->
                      <input   readonly matInput name="businessSegment" formControlName='BS' 
                      class="mat-form-field" [(ngModel)]="insuranceTicklerDetails.businessSegment" >
                      </div>
                      <mat-error *ngIf="businessSegmentFormControl.hasError('required')">
                        Business Segment is <strong>required</strong>
                    </mat-error>
                    <!-- <mat-select [formControl]="selected" >
                        <mat-option>Corporate</mat-option>

                            <mat-option>Structured Credit</mat-option>

                                <mat-option>Islamic</mat-option>

                                    <mat-option>Commercial</mat-option>

                                        <mat-option> Retail</mat-option>

                                            <mat-option>Remedial Assets</mat-option>
                      </mat-select> -->
                      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                      <!-- <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error> -->
                      <!-- <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
                        Your selection is invalid
                      </mat-error> -->
                </mat-form-field>

            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>Region</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                        <input  readonly matInput name="region" formControlName='REGION' 
                        class="mat-form-field" [(ngModel)]="insuranceTicklerDetails.region" >
                        <!-- <mat-select   name='region' formControlName='REGION'
                        [(ngModel)]="insuranceTicklerDetails.region">
                            <mat-option *ngFor="let businessSegment of Region" [value]="businessSegment.value" >
                              {{businessSegment.viewValue}}
                            </mat-option>
                          </mat-select> -->
                         
                        </div>
                        <mat-error *ngIf="regionFormControl.hasError('required')">
                            Region is <strong>required</strong>
                        </mat-error> 
                </mat-form-field>


            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>Branch Code</mat-label>
                    </div>
                     <!-- <mat-select  name="branchCode"
                     [(ngModel)]="insuranceTicklerDetails.branchCode"  formControlName='BRANCHCODE' (input)="onSearchChangeBranch($event.target.value)">


                        <mat-option  *ngFor="let branch of allBranchesDetails ;let i = index" [value]="i">
                            {{branch.BranchCode}}</mat-option>
                    </mat-select> -->
                    <!-- <mat-select  name="branchCode"
                    [(ngModel)]="insuranceTicklerDetails.branchCode"  
                    (selectionChange)="onSearchChangeBranch($event.value)">


                       <mat-option  *ngFor="let branch of allBranchesDetails ;let i = index" [value]="branch.BranchCode">
                           {{branch.BranchCode}}</mat-option>
                   </mat-select> -->
                   <div [formGroup]='formGroup'>
                    <input readonly matInput name="branchCode" type="number" formControlName='BRANCHCODE' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  maxlength="4"
                    class="mat-form-field" [(ngModel)]="insuranceTicklerDetails.branchCode">
                  
                </div> 
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>




                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>Branch Name</mat-label>
                    </div>
                                  <div [formGroup]='formGroup'>
                    <input readonly matInput name="branchName" formControlName='BRANCNAME' class="mat-form-field" [(ngModel)]="insuranceTicklerDetails.branchName">
                  
                </div>  
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Branch Name should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Branch Name should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="branchNameControl.hasError('required')">
                        Branch Name <strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>

                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>Name of Borrower</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                    <input matInput readonly name="nameOfBorrower"  formControlName='NAMEOFBORROWER'  
                     [(ngModel)]="insuranceTicklerDetails.nameOfBorrower"  maxlength="35" class="mat-form-field">
                   </div>
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Name of Borrower should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Name of Borrower should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="nameOfBorrowerFormControl.hasError('required')">
                        Name of Borrower<strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
           
            <mat-grid-tile>
                <mat-form-field class="example-full-width">  <div class="required">
                    <mat-label>Name of Insurance Co.</mat-label>
</div>
                    <div [formGroup]='formGroup'>
                    <input matInput name="nameofInsuranceCo"  formControlName='NAMEOFINSURANCE' 
                    [(ngModel)]="insuranceTicklerDetails.nameofInsuranceCo"  maxlength="35" class="mat-form-field">
                  
                </div>  <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Name of Group should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Name of Group should be atleast of length 7
                    </mat-error> -->
                    <mat-error *ngIf="nameofInsuranceCoFormControl.hasError('required')">
                        Name of Insurance Co. <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>Policy No.</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                    <input matInput name="policyNo" formControlName='POLICYNO' 
                    [(ngModel)]="insuranceTicklerDetails.policyNo"   maxlength="35" class="mat-form-field">
                   
                   </div> <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer Status should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer Status should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="policyNoFormControl.hasError('required')">
                        Policy No.<strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>Total Sum Insured</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                    <input matInput type='number' name="totalSumInsured" 
                     formControlName='TOTALSUM' [(ngModel)]="insuranceTicklerDetails.totalSumInsured" 
                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"   maxlength="15" class="mat-form-field">
                    </div>
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        CNIC should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        CNIC should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="totalSumInsuredFormControl.hasError('required')">
                        Total Sum Insured <strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>HBL Share (Amount)</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                    <input matInput type="number" name="hBLShare" formControlName='HBLSHARE' [(ngModel)]="insuranceTicklerDetails.hBLShare"  
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"    maxlength="15" class="mat-form-field">
                  </div>
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        SBP CIB Code should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        SBP CIB Code should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="hBLShareFormControl.hasError('required')">
                        HBL Share (Amount) <strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>Name of Co-Insurance</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                    <input matInput name="nameofCoInsurance" formControlName='NAMEOFCOINSURANCE'
                     [(ngModel)]="insuranceTicklerDetails.nameofCoInsurance" maxlength="35" class="mat-form-field">
                  </div>
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error> -->
                    <mat-error *ngIf="nameofCoInsuranceFormControl.hasError('required')">
                        Name of Co-Insurance<strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>HBL Co-Insurance Amount</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                    <input matInput  type='number' name="hBLCoInsuranceAmount" formControlName='HBLCOINSURANCE'
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" [(ngModel)]="insuranceTicklerDetails.hBLCoInsuranceAmount" maxlength="15"
                      class="mat-form-field">
                  </div>
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error> -->
                    <mat-error *ngIf="hBLCoInsuranceAmountFormControl.hasError('required')">
                        HBL Co-Insurance Amount<strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>Stocks (Hypo)</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                    <input matInput type='number' name="stocksHypo" formControlName='STOCKSHYPO'
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"     [(ngModel)]="insuranceTicklerDetails.stocksHypo"  maxlength="15" class="mat-form-field">
                   </div>

                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error> -->
                    <mat-error *ngIf="stocksHypoFormControl.hasError('required')">
                        Stocks (Hypo)<strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>Stocks (Pledge)</mat-label>
                    </div>
                    <div [formGroup]='formGroup'>
                    <input matInput type='number' name="stocksPledge" formControlName='STOCKEPLEDGE'
                     [(ngModel)]="insuranceTicklerDetails.stocksPledge"
                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="15" class="mat-form-field">
                   </div>
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error> -->
                    <mat-error *ngIf="stocksPledgeFormControl.hasError('required')">
                        Stocks (Pledge)<strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>
                        Building</mat-label>
                    </div>
                        <div [formGroup]='formGroup'>
                    <input matInput  type='number' name="building" formControlName='BUILDINGFORM'
                     [(ngModel)]="insuranceTicklerDetails.building"
                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="15"  class="mat-form-field">
                    </div>
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="buildingFormControl.hasError('required')">
                        Building<strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
           
           
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>
                        Machinery</mat-label>
                    </div>
                        <div [formGroup]='formGroup'>
                    <input matInput type='number' name="machinery" formControlName='MACHINERY'
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"   [(ngModel)]="insuranceTicklerDetails.machinery"
                      maxlength="15" class="mat-form-field">
                  </div>
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="machineryFormControl.hasError('required')">
                        Machinery<strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
           
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>
                        Other</mat-label>
                    </div>
                        <div [formGroup]='formGroup'>
                    <input matInput type='number' name="other" formControlName='OTHER'
                     [(ngModel)]="insuranceTicklerDetails.other"
                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="15" class="mat-form-field">
                  </div>
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="otherFormControl.hasError('required')">
                        Other<strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>
                        Expiry Date</mat-label>
                    </div>
                        <div [formGroup]='formGroup'>
                    <!-- <input matInput name="expiryDate"
                    
                     formControlName='EXPIRY'
                      [(ngModel)]="insuranceTicklerDetails.expiryDate"  class="mat-form-field"> -->
                  </div>
                    <input matInput date="type" name="expiryDate" 
                   [(ngModel)]="insuranceTicklerDetails.expiryDate" >
                
        <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
        <mat-datepicker #picker0></mat-datepicker> 
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="expiryDatesFormControl.hasError('required')">
                        Expiry Date<strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>
                        PPR Staus (Yes/No)</mat-label>
                    </div>
                        <div [formGroup]='formGroup'>
                    <!-- <input matInput name="pPRStaus" formControlName='PPR' [(ngModel)]="insuranceTicklerDetails.pPRStaus"  class="mat-form-field"> -->
                 
                  
                  <mat-select   name='pPRStaus' formControlName='PPR'
                  [(ngModel)]="insuranceTicklerDetails.pPRStaus">
                      <mat-option *ngFor="let businessSegment of PPR" [value]="businessSegment.value" >
                        {{businessSegment.viewValue}}
                      </mat-option>
                    </mat-select>
                </div>
                  <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="pPRStausFormControl.hasError('required')">
                           PPR Status <strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <div class="required">
                    <mat-label>
                        PPR Up-till Date</mat-label>
                    </div>
                        <div [formGroup]='formGroup'>
                    <!-- <input matInput name="pPRUptillDate" 
                    formControlName='PPTYILLDATE'
                     [(ngModel)]="insuranceTicklerDetails.pPRUptillDate"
                       class="mat-form-field"> -->
                  </div>
                  <input matInput type="date" name="pPRUptillDate" 
                   [(ngModel)]="insuranceTicklerDetails.pPRUptillDate" >
                
        <mat-datepicker-toggle matSuffix [for]="picker0114"></mat-datepicker-toggle>
        <mat-datepicker #picker0114></mat-datepicker> 
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="pPRUptillDateFormControl.hasError('required')">
                        PPR Up-till Date<strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
           
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
<div class="required">
                    <mat-label>
                        Next Premium Due Date</mat-label>
</div>
                        <div [formGroup]='formGroup'>
                    <!-- <input matInput name="nextPremiumDueDate"
                     formControlName='NEXTPREMIUM' 
                     [(ngModel)]="insuranceTicklerDetails.nextPremiumDueDate"
                       class="mat-form-field"> -->
                  </div>
                  <input matInput type="date" name="nextPremiumDueDate" 
                   [(ngModel)]="insuranceTicklerDetails.nextPremiumDueDate" >
                
        <!-- <mat-datepicker-toggle matSuffix [for]="picker0113"></mat-datepicker-toggle>
        <mat-datepicker #picker0113></mat-datepicker>  -->
                    <!-- <mat-error *ngIf="primeFormControl.hasError('minLength')">
                        Customer type should be atleast of length 6
                    </mat-error>
                    <mat-error *ngIf="primeFormControl.hasError('maxLength')">
                        Customer type should be atleast of length 7
                    </mat-error>-->
                    <mat-error *ngIf="nextPremiumDueDateFormControl.hasError('required')">
                        Next Premium Due Date<strong>required</strong>
                    </mat-error> 
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile> <button style="
            background-color: #00AA97;
                height:48px ;
                width:250px !important;
                font-size:20px !important;" mat-raised-button color="primary" (click)="validaions();">Save to Database</button>
                
            
                <h1 style="color:white">hiiiiiiiiiii</h1>   <button style="
                background-color: #00AA97;
                    height:48px ;
                    width:100px !important;
                    font-size:20px !important;" mat-raised-button color="primary"  (click)="goback();">Go Back</button>
            
            
            
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
        </mat-grid-list>
    </form>

</mat-card>



<br>


<mat-card style="color:aliceblue; font-size: larger; background-color: #00AA97;">Insurance Tickler Data</mat-card>
<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" style="color : #00AA97;">
        </mat-form-field>
        <button mat-raised-button   style="
        background-color: #00AA97;
            " (click)="exporter.exportTable('xlsx', {fileName:'Stock Report ', sheet: 'Stock Report'})">Generate Report</button>
           <table mat-table [dataSource]="dataSource" matTableExporter #exporter="matTableExporter" class="mat-elevation-z8">
            <ng-container matColumnDef="primeNumber">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Prime Number </th>
                <td mat-cell *matCellDef="let element"> {{element.primeNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="businessSegment">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Name of Business Segment </th>
                <td mat-cell *matCellDef="let element"> {{element.businessSegment}} </td>
            </ng-container>
             <ng-container matColumnDef="region" >
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Region </th>
                <td mat-cell *matCellDef="let element"> {{element.region}} </td>
            </ng-container>
            <ng-container matColumnDef="branchCode">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Branch Code </th>
                <td mat-cell *matCellDef="let element"> {{element.branchCode}} </td>
            </ng-container> 
            <ng-container matColumnDef="branchName">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Branch Name </th>
                <td mat-cell *matCellDef="let element"> {{element.branchName}} </td>
            </ng-container> 
            <ng-container matColumnDef="nameOfBorrower">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Branch of Borrower</th>
                <td mat-cell *matCellDef="let element"> {{element.nameOfBorrower}} </td>
            </ng-container> 
            <ng-container matColumnDef="nameofInsuranceCo">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Name Of Insurance Co </th>
                <td mat-cell *matCellDef="let element"> {{element.nameofInsuranceCo}} </td>
            </ng-container> 
            <ng-container matColumnDef="policyNo">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Policy No </th>
                <td mat-cell *matCellDef="let element"> {{element.policyNo}} </td>
            </ng-container>
            <ng-container matColumnDef="totalSumInsured">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Total Sum Insured </th>
                <td mat-cell *matCellDef="let element"> {{element.totalSumInsured}} </td>
            </ng-container> 
            <ng-container matColumnDef="hBLShare">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> HBL Share</th>
                <td mat-cell *matCellDef="let element"> {{element.hBLShare}} </td>
            </ng-container> 
            <ng-container matColumnDef="nameofCoInsurance">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Name of Co Insurance </th>
                <td mat-cell *matCellDef="let element"> {{element.nameofCoInsurance}} </td>
            </ng-container> 
            <ng-container matColumnDef="hBLCoInsuranceAmount">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> HBL Co Insurance Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.hBLCoInsuranceAmount}} </td>
            </ng-container> 
            <ng-container matColumnDef="stocksHypo">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Stocks Hypo </th>
                <td mat-cell *matCellDef="let element"> {{element.stocksHypo}} </td>
            </ng-container> 
            <ng-container matColumnDef="stocksPledge">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Stocks  Pledge </th>
                <td mat-cell *matCellDef="let element"> {{element.stocksPledge}} </td>
            </ng-container> 
            <ng-container matColumnDef="building">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Building </th>
                <td mat-cell *matCellDef="let element"> {{element.building}} </td>
            </ng-container> 
            <ng-container matColumnDef="machinery">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Machinery</th>
                <td mat-cell *matCellDef="let element"> {{element.machinery}} </td>
            </ng-container> 
            <ng-container matColumnDef="other">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Other </th>
                <td mat-cell *matCellDef="let element"> {{element.other}} </td>
            </ng-container>
            <ng-container matColumnDef="expiryDate">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Expiry Date </th>
                <td mat-cell *matCellDef="let element"> {{element.expiryDate|date:'dd-MMM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="pPRStaus">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> pPR Staus </th>
                <td mat-cell *matCellDef="let element"> {{element.pPRStaus}} </td>
            </ng-container>
            <ng-container matColumnDef="pPRUptillDate">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> pPR Uptill Date </th>
                <td mat-cell *matCellDef="let element"> {{element.pPRUptillDate|date:'dd-MMM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="nextPremiumDueDate">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Next Premium Due Date </th>
                <td mat-cell *matCellDef="let element"> {{element.nextPremiumDueDate|date:'dd-MMM-yyyy'}} </td>
            </ng-container>  
            <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Created By</th>
                <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
            </ng-container>
            <ng-container matColumnDef="modifiedBy">
                <th mat-header-cell *matHeaderCellDef style="font-size: medium;color : #00AA97"> Modified By </th>
                <td mat-cell *matCellDef="let element"> {{element.modifiedBy}} </td>
            </ng-container>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <!-- <button style="
                    background-color: #00AA97;
                        height:48px ;
                        width:100px !important;
                        font-size:20px !important;"  class="btn-small btn-success"  mat-raised-button color="primary">Edit</button>
              
                </th> -->
                <td mat-cell *matCellDef="let customerDemographicData">
                    <button style="
                    background-color: #00AA97;
                        height:48px ;
                        width:85px !important;
                        font-size:14px !important;" (click)="editCustomerDemographic(customerDemographicData)" class="btn-small btn-success"  mat-raised-button color="primary">Edit</button>
                 
                </td>
              </ng-container>



              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>
                    <!-- <button style="
                    background-color: #00AA97;
                        height:48px ;
                        width:85px !important;
                        font-size:14px !important;" mat-raised-button color="warn">Delete</button> -->
              
                </th>
                <td mat-cell *matCellDef="let customerDemographicData">
                    <div *ngIf="hideDelete === 'false'">
                    <button style="
                    
                        height:48px ;
                        width:85px !important;
                        font-size:14px !important;" (click)="deleteCustomer(customerDemographicData.primeNumber)" mat-raised-button color="warn">Delete</button>
                 </div>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>
